{% extends "base.html" %}
{% load static %}
{% block title %}Validar DNI{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row w-100 justify-content-center">
        <div class="login-card mx-auto">
            <div class="login-icon">
                <img src="{% static 'images/lock.png' %}" alt="Icono de bloqueo">
            </div>
            <h3 class="login-title">INGRESA TU DNI</h3>

            <form method="post" action="{% url 'gestion_ventas:recuperar_contrasena_paso1_dni' %}">
                {% csrf_token %}
                <div class="input-button-container">
                    <div class="form-group">
                        <input type="text" class="form-control" id="txt_dni" name="txt_dni" autofocus placeholder="DNI">
                    </div>
                    <button type="submit" id="btn_aceptar" name="btn_aceptar" class="button btn-custom-yellow">Aceptar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}